.form-check-label{
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid rgb(10,10,10);
    margin: 10px;
}

.form-check-label.active{
    background-color: red;
    color: black;
    cursor: pointer;
    user-select: none;
}

.form-check-label.inactive{
    user-select: none;
}

.inactive:hover{
    background-color: red;
}

.text{
    font-size: 17px;
    text-align: center;
}